/*  your css code here. If applicable */
.container{
	background-color:grey;
	width:520px;
	height:430px;
}
.main{
	background-color:grey;
	width:510px;
	height:420px;
	justify-content:space-between;
	boder-radius:20%;
}
#animal-photos{
	color:white;
	align-items:centre;
	text-align:center;
	text-font:sans-serif;
}
.img{
	padding:3px;
	margin:5px;
	width:150px;
	height:100px;
	boder-radius:20px;
}